*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    text-align: center;
}
.btn-contain{
    display: flex;
    justify-content: center;
}
#button{
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 5px solid black;
}
.teal{
    background-color: teal;
}
.coral{
    background-color: coral;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.flash{
    background-color: white;
}
